*/target/*
*/FeatureTraces/*
.idea/
JHotDraw/JHotDraw.iml
JHotDraw/.classpath
JHotDraw/.project
JHotDraw/.settings/org.eclipse.core.resources.prefs
JHotDraw/.settings/org.eclipse.jdt.apt.core.prefs
JHotDraw/.settings/org.eclipse.jdt.core.prefs
JHotDraw/.settings/org.eclipse.m2e.core.prefs
JHotDraw/target/classes/org/jhotdraw/draw/GridConstrainer$1.class
JHotDraw/target/classes/.netbeans_automatic_build
JHotDraw/target/classes/net/n3/nanoxml/StdXMLReader$1.class
JHotDraw/target/classes/org/jhotdraw/draw/action/AbstractSelectedAction$1.class
JHotDraw/target/classes/org/jhotdraw/draw/action/GroupAction$1.class
JHotDraw/target/classes/org/jhotdraw/draw/action/MoveConstrainedAction$1.class
JHotDraw/target/classes/org/jhotdraw/draw/action/UngroupAction$1.class
JHotDraw/target/classes/org/jhotdraw/draw/AttributeKeys$1.class
JHotDraw/target/classes/org/jhotdraw/draw/ChopRectangleConnector$1.class
JHotDraw/target/test-classes/.netbeans_automatic_build
JHotDraw/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
JHotDraw/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
JHotDraw/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
JHotDraw/target/classes/org/jhotdraw/xml/css/CSSRule$1.class
JHotDraw/target/classes/org/jhotdraw/samples/svg/figures/SVGTextFigure$1.class
JHotDraw/target/classes/org/jhotdraw/gui/plaf/palette/PaletteFontChooserUI$1.class
JHotDraw/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
JHotDraw/target/maven-archiver/pom.properties
JHotDraw/target/JHotDraw-1.0-SNAPSHOT.jar
JHotDraw/target/classes/org/jhotdraw/text/ColorFormatter$1.class
JHotDraw/target/classes/org/jhotdraw/samples/svg/io/SVGInputFormat$1.class
JHotDraw/target/classes/org/jhotdraw/gui/JLifeFormattedTextField$1.class
JHotDraw/target/classes/org/jhotdraw/draw/TextGenericTool.class
JHotDraw/target/classes/org/jhotdraw/draw/TextGenericTool$1.class
JHotDraw/nbactions.xml
JHotDraw/nbproject/project.properties
